/* card */
.secaoPerfil {
  background-color: #121212;
  border: 1px solid #949393;
  padding: 48px 32px;
  margin-top: 48px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

/*imagem */
.areaFoto {
  flex-shrink: 0;
  width: 500px;
  height: 500px;
  margin: 0;
}

/* foto redonda com borda */
.sobreFoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #1ED760;
}

/* texto */
.sobreTexto {
  flex: 1;
}

/*titulo */
.sobreTitulo {
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 8px;
}

/*cargo */
.sobreCargo {
  display: block;
  color: #1ED760;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

/* descrição */
.sobreDescricao {
  color: #949393;
  line-height: 24px;
  font-size: 16px;
}