/*tabela */
.tabela {
    width: 100%;
    max-width: 1800px;
    margin: 40px auto;
}

/*base da tabela */
.tabelaHistorico {
    width: 100%;
    table-layout: auto;
    background-color: #121212;
    border-collapse: collapse;
}

/*cabecalho */
.tabelaHistorico thead {
    background-color: #121212;
    border-bottom: 2px solid #949393;
}

/* partes individuais do cabecalho */
.tabelaHistorico th {
    padding: 22px 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    color: #1ed760;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/*linhas */
.tabelaHistorico tbody tr {
    border-bottom: 1px solid #949393;
    background-color: #121212;
    transition: all 0.2s ease;
}


.tabelaHistorico tbody tr:hover td {
    color: #1ed760;
}

/*dados */
.tabelaHistorico td {
    padding: 20px;
    font-size: 16px;
    color: #949393;
    vertical-align: middle;
}

/* texto destacado */
.destaque {
    font-weight: 600;
    color: #1ed760;
}

/* icone do sensor */
.iconeSensor {
    color: #1ed760;
    font-size: 18px;
    margin-right: 10px;
}

/* texto do local */
.local {
    color: #949393;
}

/* valor da medicao */
.valor {
    font-weight: 700;
    font-size: 17px;
    color: #1ed760;
}

/* unidade de medida */
.unidade {
    font-weight: 600;
    font-size: 14px;
    color: #949393;
}

/* data e hora */
.data {
    color: #949393;
    font-size: 15px;
}

/* icone de relogio */
.iconeRelogio {
    margin-right: 8px;
    font-size: 16px;
}