/*navbar */
.navBar {
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

/*logo centralizado */
.logo {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #949393;
    margin-bottom: 10px;
}


.logo img {
    width: 200px;
    display: inline-block;
}

/*sub menu */
.menuNav {
    width: 100%;
    padding-bottom: 10px;
}

/* links */
.menuNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

/*botoes de link */
.menuNav li a {
    text-decoration: none;
    color: #1ed760;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 100px;
    transition: 0.2s ease;
    display: inline-block;
}


.menuNav li a:hover {
    background-color: #1ed760;
    color: #121212;
}

/* icone do usuario */
.icone {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*perfil */
.botaoUsuario {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #1ed760;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoUsuario i {
    font-size: 40px;
}

.botaoUsuario:hover {
    transform: scale(1.1);
}

.botaoUsuario.ativo {
    color: #ffffff;
}

/*menu do usuario */
.menuSuspenso {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
    width: 140px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    z-index: 20;
    border: #949393 1px solid;
}

.listaAcoes {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*botao de logout */
.botaoSair {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    color: #de7a6f;
    border: 1px solid #de7a6f;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.botaoSair:hover {
    background-color: #de7a6f;
    color: #121212;
}
.botaoSair i {
    font-size: 20px;
}